html , body {
	margin: 0;
	padding: 0;
}
h1 , h2 , h3 {margin: 0;}
a {text-decoration: none;}
ul , li {margin:0;padding: 0 ; list-style: none;}

.pl-5 {padding-left: 5px;}
.pr-5 {padding-right: 5px;}

.flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: -webkit-box;
	display: flex;
}
.text-overflow {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mint-swipe .mint-swipe-indicator {
	height: 2px;
}
.mint-swipe-indicator.is-active {
	background: #00a6ff;
}